.container{
	width:100%;
	text-align: center;
}
*{
	box-sizing: border-box;
}
.carousel{
	position: relative;
}
.container-slide{
	position: absolute;
	left:0;
	bottom: 0;
	top:300px;
	width:100%;
}
.slides{
	
	transform: translateX(470px);
}

.row{
	
}
.col{
	margin: 20px;
}


