.container{
	width:100%;

}
*{
	box-sizing: border-box;
}
.images{
	
	width: 100%
	
}
img{
	margin:10px;
}
.prev{
	font-size:20px;
	color: black;
	position: fixed;
	left:0;
	top:220px;
	
}
.forward{
	font-size:20px;
	color: black;
	position: fixed;
	right:0;
	top:220px;
}