.container{
	width:100%;
	text-align: center;
}
*{
	box-sizing: border-box;
}
.carousel{
	position: relative;
	height: 10%;
		
}

.slides{
	display: flex;
	justify-content: center;
	
}
img{
	width : 100%;
}

.col{
	margin: 20px;
}


